<p></p>
<h2 style="text-align:center">User info</h2>
<%= form_with model: @user, local:true do |f| %>
 <%= f.label :name, class: "userform" %><br>
 <%= f.text_field :name, class: "userform" %><br>
 <%= f.label :profile_image, "Image", class: "userform" %><br>
 <%= f.attachment_field :profile_image, class: "userform" %><br>
 <%= f.label :introduction, class: "userform" %><br>
 <%= f.text_area :introduction, class: "userform" %><br>
 <%= f.submit "Update User", class: "btn btn-secondary" %>
<% end %>