<!DOCTYPE html>
<html>
<head>
 <meta charset="utf-8">
 <link rel="stylesheet" href="bookers2/app/assets/stylesheets/users.scss">
 <script src="https://kit.fontawesome.com/34c9407723.js" crossorigin="anonymous"></script>
</head>
<main class="user">
     <p>
     <% if flash[:notice] %>
     <p id="notice">
       <%= flash[:notice] %>
     </p>
    <% end %>

    <div class="container">
     <div class="row">
      <div class="col-lg-4">
         <h2>
           User info
         </h2>
         <div class="userimg" src="assets/images/bou.jpg"></div>
         <table class="table">
            <tbody>
                 <tr></tr>
                 <th>
                   name
                 </th>
                 <th>
                 </th>
                 <tr></tr>
                 <th>
                   introduction
                 </th>
                 <th>
                 </th>
            </tbody>
         </table>
         <div class="edit">
          <%= link_to " ", edit_user_path(current_user.id), class: "btn btn-outline-secondary btn-block fas fa-user-cog" %>
         </div>
      <h2>
        New book
      </h2>
      <td class="form">
      <% if @book.errors.any? %>
       <%= @book.errors.count %>
       <% @book.errors.full_messages.each do |message| %>
        <%= message %>
       <% end %>
      <% end %>
      <%= form_with model:@book, local:true do |f| %>
      <p4>Title</p4><br>
        <%= f.text_field :title %><br>
      <p4>Opinion</p4><br>
        <%= f.text_field :body %><br>
        <%= f.submit "Create book", class: "btn btn-success" %>
      <% end %>
      </td>
      </div>
         <div class="col-lg-8">
           <h2>Book detail</h2>
           <table class="table">
            <% @books.each do |book| %>
            <thead>
             <tr>
              <td>
               <%= image_tag 'bou.jpg', class: 'icon' %>
              </td>
              <td>
               <%= link_to "", edit_book_path(current_user.id) %>
              </td>
              <td>
               <%= book.body %>
              </td>
              <td>
               <%= link_to "Edit", edit_book_path(current_user.id), class: "btn btn-success btn-block" %>
              </td>
              <td>
               <%= link_to "destroy", book_path(current_user.id), method: :delete, class: "btn btn-denger btn-block" %>
              </td>
             </tr>
            </thead>
            <tbody>
            </tbody>
            <% end %>
        　 </table>
         </div>
      </div>
    </div>
    </html>